<html>
    
    <head>
      <meta name=标题 content=SHECA单位数字证书受理表>
      <meta http-equiv=Content-Type content="text/html; charset=utf-8">
      <meta name=Generator content="Microsoft Word 15 (filtered)">
      <title>SHECA单位数字证书受理表</title>
      <style>
        /* Font Definitions */
    
        @font-face {
          font-family: Wingdings;
          panose-1: 5 0 0 0 0 0 0 0 0 0;
        }
    
        @font-face {
          font-family: 宋体;
        }
    
        @font-face {
          font-family: "Cambria Math";
          panose-1: 2 4 5 3 5 4 6 3 2 4;
        }
    
        @font-face {
          font-family: 仿宋_GB2312;
        }
    
        @font-face {
          font-family: 仿宋;
        }
    
        @font-face {
          font-family: "Wingdings 2";
          panose-1: 5 2 1 2 1 5 7 7 7 7;
        }
    
        @font-face {
          font-family: "\@宋体";
        }
    
        @font-face {
          font-family: "\@仿宋";
        }
    
        @font-face {
          font-family: 楷体_GB2312;
        }
    
        @font-face {
          font-family: "\@楷体_GB2312";
        }
        /* Style Definitions */
    
        body {
          margin: 0 auto;
          text-align: center;
          padding: 0 40pt;
          line-height: 25pt;
          width: 608pt;
        }
    
        p.MsoNormal,
        li.MsoNormal,
        div.MsoNormal {
          margin: 0cm;
          margin-bottom: .0001pt;
          font-size: 12.0pt;
          line-height: 20pt !important;
          font-family: "Times New Roman", serif;
        }
    
        p.MsoHeader,
        li.MsoHeader,
        div.MsoHeader {
          margin: 0cm;
          margin-bottom: .0001pt;
          text-align: center;
          layout-grid-mode: char;
          border: none;
          padding: 0cm;
          font-size: 9.0pt;
          font-family: "Times New Roman", serif;
        }
    
        p.MsoFooter,
        li.MsoFooter,
        div.MsoFooter {
          margin: 0cm;
          margin-bottom: .0001pt;
          layout-grid-mode: char;
          font-size: 9.0pt;
          font-family: "Times New Roman", serif;
        }
    
        a:link,
        span.MsoHyperlink {
          color: blue;
          text-decoration: underline;
        }
    
        a:visited,
        span.MsoHyperlinkFollowed {
          color: purple;
          text-decoration: underline;
        }
    
        p.MsoAcetate,
        li.MsoAcetate,
        div.MsoAcetate {
          margin: 0cm;
          margin-bottom: .0001pt;
          font-size: 9.0pt;
          font-family: "Times New Roman", serif;
        }
    
        p.MsoListParagraph,
        li.MsoListParagraph,
        div.MsoListParagraph {
          margin: 0cm;
          margin-bottom: .0001pt;
          text-align: justify;
          text-justify: inter-ideograph;
          text-indent: 21.0pt;
          font-size: 10.5pt;
          font-family: "Times New Roman", serif;
        }
    
        .MsoChpDefault {
          font-size: 10.0pt;
        }
        /* Page Definitions */
    
        @page WordSection1 {
          size: 595.3pt 841.9pt;
          margin: 53.85pt 59.55pt 42.55pt 65.2pt;
          layout-grid: 15.6pt;
        }
    
        div.WordSection1 {
          page: WordSection1;
          counter-reset: pageNum;
        }
    
        .wrap {
          counter-increment: pageNum;
          margin-top: 50pt;
        }
    
        .wrap::after {
          content: counter(pageNum);
          display: block;
          text-align: center;
        }
    
        .pageText {
          height: 900pt !important;
        }
        /* List Definitions */
    
        ol {
          margin-bottom: 0cm;
        }
    
        ul {
          margin-bottom: 0cm;
        }
      </style>
    
    </head>
    
    <body lang=ZH-CN link=blue vlink=purple style='text-justify-trim:punctuation'>
    <% if(company&&representative&&agent) { %>
      <div class=WordSection1 style='layout-grid:15.6pt'>
        <div class="wrap">
          <div class="pageText">
            <p class=MsoNormal align=center style='text-align:center'>
              <b>
                <span style='font-family:楷体_GB2312'>上海市一证通用法人数字证书申请表</span>
              </b>
            </p>
    
            <p class=MsoNormal align=center style='text-align:center'>
              <b>
                <span style='font-family:楷体_GB2312'>（企业适用）</span>
              </b>
            </p>
    
            <p class=MsoNormal style='text-indent:276.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>No(Q)</span>
            </p>
    
            <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=100% style='width:100%;border-collapse:collapse;border:none'>
              <tr style='height:16.5pt'>
                <td width=477 colspan=3 valign=top style='width:476.7pt;border:solid windowtext 1.0pt;
              padding:5pt;height:16.5pt'>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <b>
                      <span style='font-size:10.5pt;
              font-family:楷体_GB2312'>请选择服务类型，并在对应的栏目中打“√”：</span>
                    </b>
                  </p>
                </td>
              </tr>
              <tr style='height:19.9pt'>
                <td width=477 colspan=3 valign=top style='width:476.7pt;border:solid windowtext 1.0pt;
              border-top:none;padding:5pt;height:19.9pt'>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <span lang=EN-US style='font-family:"Wingdings 2"'>R</span>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>申请
                      <span lang=EN-US>&nbsp;</span>
                      <i style="display:inline-block;width:7pt;height:7pt;border:1pt solid #000"></i> 更新
                      <span lang=EN-US>&nbsp;</span>
                      <i style="display:inline-block;width:7pt;height:7pt;border:1pt solid #000"></i> 变更
                      <span lang=EN-US>&nbsp;</span>
                      <i style="display:inline-block;width:7pt;height:7pt;border:1pt solid #000"></i> 撤销
                      <span lang=EN-US>&nbsp;</span>
                      <i style="display:inline-block;width:7pt;height:7pt;border:1pt solid #000"></i> 其他
                      <span lang=EN-US>&nbsp;</span>
                      <i style="display:inline-block;width:7pt;height:7pt;border:1pt solid #000"></i> 申请第二张及以上证书
                  </p>
                </td>
              </tr>
              <tr style='height:20.4pt'>
                <td width=477 colspan=3 valign=top style='width:476.7pt;border:solid windowtext 1.0pt;
              border-top:none;padding:5pt;height:20.4pt'>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <b>
                      <span style='font-size:10.5pt;
              font-family:楷体_GB2312'>单位基本信息
                        <span lang=EN-US>:</span>
                      </span>
                    </b>
                  </p>
                </td>
              </tr>
              <tr style='height:138.25pt'>
                <td width=477 colspan=3 valign=top style='width:476.7pt;border:solid windowtext 1.0pt;
              border-top:none;padding:5pt;height:138.25pt'>
                  <p class=MsoNormal style='line-height:20.0pt'>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312;'>申请单位名称</span>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>：
                      <u>
                        <span lang=EN-US>   </span><%= company.name %>
                        <span lang=EN-US>    </span>
                      </u>
                    </span>
                  </p>
                  <p class=MsoNormal>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312;
              '>单位邮政地址</span>
                    <span style='font-size:10.5pt;font-family:
              楷体_GB2312'>：
                      <u>&nbsp;<%= company.registeredAdd %>&nbsp;</u>
                      <span>邮政编码</span>：</span>
                    <span style='font-size:8.0pt;font-family:楷体_GB2312;letter-spacing:-1.7pt'>
                      <% if(company.registerPost) { %>
                        <% for(var i=0; i<6; i++) { %>  
                          <span style="position:relative;top:1pt;display:inline-block;width:10pt;height:10pt;border:1pt solid #000">
                            <span style="position:absolute;top:-5pt;left:2pt">
                              <%= company.registerPost[i] %>
                            </span>  
                          </span> 
                        <% } %>  
                      <% } %>
                    </span>
                  </p>
                  <p class=MsoNormal style='line-height:20.0pt'>
                    <span style='font-family:楷体_GB2312;'>统一社会信用代码号</span>
                    <span style='font-family:楷体_GB2312'>：</span>
                    <span style='font-size:8pt;font-family:楷体_GB2312;letter-spacing:-1.7pt'>
                      <% if(company.socialCreditNum) { %>
                        <% for(var i=0; i<18; i++) { %>  
                          <span style="position:relative;top:1pt;display:inline-block;width:10pt;height:10pt;border:1pt solid #000">
                            <span style="position:absolute;top:-5pt;left:2pt">
                              <%= company.socialCreditNum[i] %>
                            </span>  
                          </span> 
                        <% } %>  
                      <% } %>
                    </span>
                  </p>
                  <p class=MsoNormal style='line-height:20.0pt'>
                    <span style='font-family:楷体_GB2312'>工商营业执照注册号：</span>
                    <span style='font-size:8pt;font-family:楷体_GB2312;letter-spacing:-1.7pt;padding-left:3pt'>

                      <% for(var i=0; i<15; i++) { %>
                      <span style="position:relative;top:1pt;display:inline-block;width:10pt;height:10pt;border:1pt solid #000">
                        <span style="position:absolute;top:-5pt;left:2pt">
                        </span>  
                      </span> 
                      <% } %>  

                    </span>
                  </p>
                  <p class=MsoNormal style='line-height:20.0pt'>
                    <span style='font-family:楷体_GB2312'>住房公积金账号：
                      <span lang=EN-US>    </span>
                    </span>
                    <span style='font-size:8pt;font-family:楷体_GB2312;letter-spacing:-1.7pt;padding-left:12pt'>
                        <% for(var i=0; i<12; i++) { %>  
                            <span style="position:relative;top:1pt;display:inline-block;width:10pt;height:10pt;border:1pt solid #000">
                            <span style="position:absolute;top:-5pt;left:2pt">
                            </span>  
                            </span> 
                          <% } %>  
                    </span>
                  </p>
                  <p class=MsoNormal style='line-height:20.0pt'>
                    <span style='font-family:楷体_GB2312'>组织机构代码证号：
                      <span lang=EN-US>  </span>
                    </span>
                    <span style='font-size:8pt;font-family:楷体_GB2312;letter-spacing:-1.7pt;padding-left:8pt'>
                        <% for(var i=0; i<8; i++) { %>  
                            <span style="position:relative;top:1pt;display:inline-block;width:10pt;height:10pt;border:1pt solid #000">
                            <span style="position:absolute;top:-5pt;left:2pt">
                            </span>  
                            </span> 
                          <% } %>  
                    <span lang=EN-US style="padding:0 4pt;position:relative;top:-3pt"> -- </span>
                    <span style="position:relative;top:1pt;display:inline-block;width:10pt;height:10pt;border:1pt solid #000">
                        <span style="position:absolute;top:-5pt;left:2pt">
                        </span>  
                        </span> 
                    </span>
                  </p>
                  <p class=MsoNormal style='line-height:20.0pt'>
                    <span style='font-family:楷体_GB2312'>社会保险号：
                      <span lang=EN-US>        </span>
                    </span>
                    <span style='font-size:8pt;font-family:楷体_GB2312;letter-spacing:-1.7pt;padding-left:23pt'>
                        <% for(var i=0; i<8; i++) { %>  
                            <span style="position:relative;top:1pt;display:inline-block;width:10pt;height:10pt;border:1pt solid #000">
                            <span style="position:absolute;top:-5pt;left:2pt">
                            </span>  
                            </span> 
                          <% } %> 
                    </span>
                  </p>
                </td>
              </tr>
              <tr style='height:1.0pt'>
                <td width=477 colspan=3 valign=top style='width:476.7pt;border:solid windowtext 1.0pt;
              border-top:none;padding:5pt;height:1.0pt'>
                  <p class=MsoNormal>
                    <b>
                      <span style='font-size:10.5pt;font-family:楷体_GB2312'>办理人信息
                        <span lang=EN-US>:</span>
                      </span>
                    </b>
                  </p>
                  <p class=MsoNormal>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312;
              '>单位法人代表姓名</span>
                    <span style='font-size:10.5pt;font-family:
              楷体_GB2312'>：
                      <u>
                        <span lang=EN-US>  </span>&nbsp;<%= representative.name %>&nbsp;
                        <span lang=EN-US>  </span>
                      </u>
                      <span>身份证号码</span>
                      <span lang=EN-US>:
                        <u>&nbsp;<%= representative.idNum %>&nbsp;
                        </u>
                      </span>
                      <span>联系电话</span>：
                      <u>
                        <span lang=EN-US>
                            &nbsp;<%= representative.telephone %>&nbsp; </span>
                      </u>
                    </span>
                  </p>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <span style='font-size:10.5pt;
              font-family:楷体_GB2312;'>办理人姓名</span>
                    <span style='font-size:
              10.5pt;font-family:楷体_GB2312'>：
                      <u>
                        <span lang=EN-US>  </span>&nbsp;<%= agent.name %>&nbsp;
                        <span lang=EN-US>  </span>
                      </u>
                      <span>身份证号码</span>
                      <span lang=EN-US>:
                        <u> &nbsp;<%= agent.idNum %>&nbsp; </u>
                      </span>
                      <span>联系电话</span>：
                      <u>
                        <span lang=EN-US>&nbsp;<%= agent.mobile %>&nbsp; </span>
                      </u>
                    </span>
                  </p>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <span style='font-size:10.5pt;
              font-family:楷体_GB2312;'>电子邮箱地址</span>
                    <span lang=EN-US style='font-size:10.5pt;font-family:楷体_GB2312'>:
                      <u>&nbsp;<%= agent.email %>&nbsp;</u>
                    </span>
                  </p>
                </td>
              </tr>
              <tr style='height:1.0pt'>
                <td width=477 colspan=3 valign=top style='width:476.7pt;border:solid windowtext 1.0pt;
              border-top:none;padding:5pt;height:1.0pt'>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <b>
                      <span style='font-family:
              楷体_GB2312'>用户须知：</span>
                    </b>
                  </p>
                </td>
              </tr>
              <tr style='height:1.0pt'>
                <td width=477 colspan=3 valign=top style='width:476.7pt;border:solid windowtext 1.0pt;
              border-top:none;padding:5pt;height:1.0pt'>
                  <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt'>
                    <span lang=EN-US style='font-size:10.5pt;font-family:Wingdings'>l
                      <span style='font:7.0pt "Times New Roman"'>&nbsp; </span>
                    </span>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>需提供以上单位有效证件的原件及复印件，法人代表身份证原件及复印件，办理人身份证原件及复印件（上述复印件需加盖公章）。</span>
                  </p>
                  <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt'>
                    <span lang=EN-US style='font-size:10.5pt;font-family:Wingdings'>l
                      <span style='font:7.0pt "Times New Roman"'>&nbsp; </span>
                    </span>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>在正式申请证书前请阅读本申请表所附《数字证书订户协议》。</span>
                  </p>
                  <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt'>
                    <span lang=EN-US style='font-size:10.5pt;font-family:Wingdings'>l
                      <span style='font:7.0pt "Times New Roman"'>&nbsp; </span>
                    </span>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>证书的有效期从签发之日计算
                      <span lang=EN-US>,</span>证书有效期将签发在该证书中。</span>
                  </p>
                  <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt'>
                    <span lang=EN-US style='font-size:10.5pt;font-family:Wingdings'>l
                      <span style='font:7.0pt "Times New Roman"'>&nbsp; </span>
                    </span>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>法人一证通用数字证书开通多项业务办理功能后，一张数字证书将被允许进入多个业务系统，如使用不当将存在非授权访问、信息泄露等内部管理风险。请根据单位业务操作和运营管理实际情况，加强对数字证书使用和保存的管理控制。也可根据实际业务需要选择办理多张证书，并赋予不同的业务系统操作权限，以降低相关使用风险</span>
                  </p>
                  <p class=MsoNormal>
                    <b>
                      <span style='font-size:10.5pt;font-family:楷体_GB2312'>申请单位在此郑重申明</span>
                    </b>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>：</span>
                  </p>
                  <p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'>
                    <span lang=EN-US style='font-family:Wingdings'>
                      <span style='font:7.0pt "Times New Roman"'>&nbsp;
                      </span>
                    </span>
                    <b>
                      <span style='font-family:楷体_GB2312'>以上所填信息及相关证明材料准确、真实、有效，接受据此颁发的数字证书，同意接受《数字证书订户协议》。本单位已知悉法人数字证书一证通用可能带来的业务风险，承诺加强对数字证书的管理以控制以避免相关风险；已了解填入或放弃填入上述基本信息中可选项内容对应用办理的影响。本单位全权委托上述办理人处理数字证书服务申请的相关事宜。</span>
                    </b>
                  </p>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <span style='font-size:10.5pt;
              font-family:楷体_GB2312'>申请单位负责人签字：
                      <span lang=EN-US>                           </span>申请单位盖章：
                      <span lang=EN-US>______________   </span>
                    </span>
                  </p>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <span lang=EN-US style='font-size:10.5pt;font-family:楷体_GB2312'>
                    </span>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>日期
                      <span lang=EN-US>:_______</span>年
                      <span lang=EN-US>____</span>月
                      <span lang=EN-US>_____</span>日</span>
                  </p>
                </td>
              </tr>
              <tr style='height:1.0pt'>
                <td width=477 colspan=3 valign=top style='width:476.7pt;border:solid windowtext 1.0pt;
              border-top:none;padding:5pt;height:1.0pt'>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <b>
                      <span style='font-family:
              楷体_GB2312'>以下由受理点填写：</span>
                    </b>
                  </p>
                </td>
              </tr>
              <tr style='height:1.0pt'>
                <td width=116 valign=top style='width:115.5pt;border:solid windowtext 1.0pt;
              border-top:none;padding:5pt;height:1.0pt'>
                  <p class=MsoNormal style='margin-left:10.5pt;text-indent:-10.5pt'>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>●已审核申请单位及办理人身份</span>
                  </p>
                  <p class=MsoNormal style='margin-left:10.5pt;text-indent:-10.5pt'>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>●</span>
                    <span style='font-size:10.5pt;font-family:楷体_GB2312'>已核对受理表上填写的信息及相关证明材料</span>
                  </p>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <span style='font-size:10.5pt;
              font-family:楷体_GB2312'>●</span>
                    <span style='font-size:10.5pt;font-family:
              楷体_GB2312'>已发放证书给用户</span>
                  </p>
                </td>
                <td width=269 valign=top style='width:269.1pt;border-top:none;border-left:
              none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              padding:5pt;height:1.0pt'>
                  <p class=MsoNormal>
                    <span style='font-family:楷体_GB2312'>密码信封序列号：</span>
                  </p>
                  <p class=MsoNormal>
                      <span style='font-size:8pt;font-family:楷体_GB2312;letter-spacing:-1.7pt;padding-left:23pt'>
                          <% for(var i=0; i<14; i++) { %>  
                              <span style="position:relative;top:1pt;display:inline-block;width:10pt;height:10pt;border:1pt solid #000">
                              <span style="position:absolute;top:-5pt;left:2pt">
                              </span>  
                              </span> 
                            <% } %> 
                      </span>
                  </p>
                  <p class=MsoNormal>
                    <span style='font-family:楷体_GB2312'>受理员：
                      <span lang=EN-US>__________
                      </span>审核员：
                      <span lang=EN-US>______________</span>
                    </span>
                  </p>
                  <p class=MsoNormal style='line-height:18.0pt'>
                    <span style='font-family:楷体_GB2312'>日期：
                      <span lang=EN-US>___</span>年
                      <span lang=EN-US>__</span>月
                      <span lang=EN-US>__</span>日受理点盖章：
                      <span lang=EN-US>__________</span>
                    </span>
                  </p>
                </td>
                <td width=92 valign=top style='width:92.1pt;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              padding:5pt;height:1.0pt'>
                  <p class=MsoNormal style='line-height:50%'>
                    <span style='font-size:7.5pt;
              line-height:50%;font-family:楷体_GB2312'>上海
                      <span lang=EN-US>CA</span>中心</span>
                  </p>
                  <p class=MsoNormal style='line-height:50%;margin-top:4pt'>
                      <span style='font-size:7.5pt;
                      line-height:50%;font-family:楷体_GB2312'>微信服务号
                              <span lang=EN-US>:sheca_</span>
                            </span>
                  </p>
                  <p class=MsoNormal style='line-height:50%'>
                    <span style='position:absolute;
              z-index:251662336;margin-left:9px;margin-top:14px;width:63px;height:62px'>
                      <img width=63 height=62 src="3.12%20上海市法人一证通申请表.fld/image001.gif" alt="VTX99X$7H814Z$6{[48))NS.png">
                    </span>

                  </p>
                  <p class=MsoNormal>
                    <b>
                      <span lang=EN-US style='font-family:楷体_GB2312'>&nbsp;</span>
                    </b>
                  </p>
                  <p class=MsoNormal>
                    <b>
                      <span lang=EN-US style='font-family:楷体_GB2312'>&nbsp;</span>
                    </b>
                  </p>
                  <p class=MsoNormal>
                    <b>
                      <span lang=EN-US style='font-size:10.5pt;font-family:
              楷体_GB2312'>&nbsp;</span>
                    </b>
                  </p>
                </td>
              </tr>
            </table>
            <p class=MsoNormal style='text-indent:10.3pt'>
                <span style='font-size:10.5pt;font-family:楷体_GB2312'>传真：
                  <span lang=EN-US>021-36393132</span>支持邮箱：
                  <span lang=EN-US>jy@sheca.com</span>
                </span>
              </p>
      
              <p class=MsoNormal style='text-indent:10.3pt'>
                <span style='font-size:10.5pt;font-family:楷体_GB2312'>服务热线：
                  <span lang=EN-US>021-962600</span>服务网点查询：</span>
                <span lang=EN-US>
                  <a href="http://www.962600.com">
                    <span style='font-size:10.5pt;
              font-family:楷体_GB2312'>http://www.962600.com</span>
                  </a>
                </span>
              </p>
          </div>
        </div>
        <div style="page-break-after: always"></div>
        <div class="wrap" style="text-align:left">
          <div class="pageText">
    
            <p class=MsoNormal style='text-align:center'>
              <b>
                <span style='font-size:16.0pt;font-family:楷体_GB2312'>上海市法人一证通用数字证书电子印章</span>
              </b>
            </p>
    
            <p class=MsoNormal style='text-align:center'>
              <b>
                <span style='font-size:16.0pt;
            font-family:楷体_GB2312'>申请表</span>
              </b>
            </p>
    
            <p class=MsoNormal style='text-align:right;margin-right:150pt'>
              <span lang=EN-US style='font-size:14.0pt;font-family:楷体_GB2312'>No(Q)</span>
            </p>
    
            <p class=MsoNormal>
              <span style='font-family:楷体_GB2312;'>申请单位名称</span>
              <span style='font-family:楷体_GB2312'>：
                <u>
                  <span lang=EN-US>   </span><%= company.name %>
                  <span lang=EN-US>    </span>
                </u>
              </span>
            </p>
    
            <p class=MsoNormal>
              <b>
                <span style='font-family:楷体_GB2312'>办理人信息
                  <span lang=EN-US>: </span>
                </span>
              </b>
            </p>
    
            <p class=MsoNormal>
              <span style='font-family:楷体_GB2312;'>姓名</span>
              <span style='font-family:楷体_GB2312'>：
                <u>
                  <span lang=EN-US>    </span>&nbsp;<%= agent.name %>&nbsp;
                  <span lang=EN-US>    </span>
                </u>
                <span>身份证号码</span>
                <span lang=EN-US>:
                  <u>&nbsp;<%= agent.idNum %>&nbsp;</u>
                </span>
              </span>
            </p>
    
            <p class=MsoNormal>
              <span style='font-family:楷体_GB2312;'>联系电话</span>
              <span style='font-family:楷体_GB2312'>：
                <u>
                  <span lang=EN-US>&nbsp;<%= agent.mobile %>&nbsp;</span>
                </u>
                <span lang=EN-US> </span>传真：
                <span lang=EN-US>______________</span>
              </span>
            </p>
    
            <p class=MsoNormal>
              <span style='font-family:楷体_GB2312;'>电子邮箱地址</span>
              <span lang=EN-US style='font-family:楷体_GB2312'>:
                <u>&nbsp;<%= agent.email %>&nbsp;</u>
              </span>
            </p>
    
            <p class=MsoNormal>
              <span lang=EN-US>&nbsp;</span>
            </p>
    
            <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt'>
              <span lang=EN-US>1．</span>
              <span style='font-family:宋体'>申请电子印章的用户请在下列空白框内加盖申请单位公章</span>
            </p>
    
            <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt'>
              <span lang=EN-US>2．</span>
              <span style='font-family:宋体'>公章印请务必清晰完整</span>
            </p>
    
            <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt'>
              <span lang=EN-US>3．</span>
              <span style='font-family:宋体'>由于存储容量限制，部分用户较早使用的</span>
              <span lang=EN-US>32K</span>
              <span style='font-family:宋体'>证书存储介质</span>
              <span lang=EN-US>USB Key</span>
              <span style='font-family:宋体'>无法制作电子印章，如需制作电子印章，需更换大容量</span>
              <span lang=EN-US>USB Key</span>
              <span style='font-family:宋体'>；是否能制作电子印章以现场检测为准。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt'>
              <span lang=EN-US>4．</span>
              <span style='font-family:宋体'>如果现场没有申请制作电子印章，事后又需要电子印章的，可至受理点申请制作或登陆</span>
              <span lang=EN-US>http://www.962600.com</span>
              <span style='font-family:宋体'>自助申请制作。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt'>
              <span lang=EN-US>5．</span>
              <span style='font-family:宋体'>此件由受理机构保存。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:18.0pt'>
              <span lang=EN-US>&nbsp;</span>
            </p>
    
            <p class=MsoNormal align=center style='margin-left:18.0pt;text-align:center'>
              <b>
                <span style='font-size:22.0pt;font-family:宋体;color:red'>电子印章盖章区</span>
              </b>
            </p>
    
            <p class=MsoNormal align=center style='text-align:center'>
              <b>
                <span lang=EN-US style='font-size:15.0pt;font-family:楷体_GB2312'>
                  <img border=0 width=190 height=190 id="图片 2" src="3.12%20上海市法人一证通申请表.fld/image002.gif">
                </span>
              </b>
            </p>
    
            <p class=MsoNormal align=center style='text-align:center'>
              <b>
                <span lang=EN-US style='font-size:18.0pt;font-family:楷体_GB2312'>&nbsp;</span>
              </b>
            </p>
          </div>
        </div>
        <div style="page-break-after: always"></div>
        <div class="wrap">
          <div class="pageText" style="text-align:left">
    
            <p class=MsoNormal align=center style='text-align:center;margin-bottom:20pt'>
              <b>
                <span style='font-size:18.0pt;font-family:楷体_GB2312'>数字证书订户协议</span>
              </b>
            </p>
    
            <p class=MsoNormal style='text-indent:18.0pt;line-height:13.0pt'>
              <span style='font-family:楷体_GB2312'>上海市数字证书认证中心有限公司（以下简称上海
                <span lang=EN-US>CA</span>）是依法设立的第三方电子认证服务机构。</span>
            </p>
    
            <p class=MsoNormal style='text-indent:18.0pt;line-height:13.0pt'>
              <span style='font-family:楷体_GB2312'>在申请、接受或使用上海
                <span lang=EN-US>CA</span>签发的数字证书之前，您必须先阅读本
                <span lang=EN-US>&quot;</span>数字证书订户协议
                <span lang=EN-US>&quot;(</span>以下称
                <span lang=EN-US>&quot;</span>订户协议
                <span lang=EN-US>&quot;)</span>。若您不同意本订户协议全部或部分条款，请勿申请、接受或使用上海
                <span lang=EN-US>CA</span>提供的数字证书。</span>
            </p>
    
            <p class=MsoNormal style='text-indent:18.0pt;line-height:13.0pt'>
              <span style='font-family:楷体_GB2312'>本协议将于您向上海
                <span lang=EN-US>CA</span>递交申请后生效。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;line-height:
            14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>(一)
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
              <span style='font-family:楷体_GB2312'>数字证书是经上海
                <span lang=EN-US>CA</span>签发的包含申请人身份信息的数字证书，它用于标志申请人在进行信息交换、电子签名、电子政务、电子商务等网络活动中的身份。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;line-height:
            14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>(二)
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
              <span style='font-family:楷体_GB2312'>在申请、接受证书及其相关服务前，证书申请人需要了解《
                <span lang=EN-US>UniTrust</span>证书策略》、《
                <span lang=EN-US>SHECA</span>电子认证业务规则》和与证书相关的义务及法律责任。《
                <span lang=EN-US>UniTrust</span>证书策略》、《
                <span lang=EN-US>SHECA</span>电子认证业务规则》公布在</span>
              <span lang=EN-US>
                <a href="http://www.sheca.com">
                  <span style='font-family:楷体_GB2312'>http://www.sheca.com</span>
                </a>
              </span>
              <span style='font-family:楷体_GB2312'>。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;line-height:
            14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>(三)
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
              <span style='font-family:楷体_GB2312'>申请人应承诺在证书服务受理表中所填信息及提供的相关证明材料准确、真实、有效，并愿意承担由此带来的法律责任。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;line-height:
            14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>(四)
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
              <span style='font-family:楷体_GB2312'>证书申请人的申请一旦获得批准并成功签发数字证书，证书申请者自动成为证书订户。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;line-height:
            14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>(五)
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
              <span style='font-family:楷体_GB2312'>证书订户必须确保其持有的证书用于申请时预定的目的。上海
                <span lang=EN-US>CA</span>签发的各类证书，仅用于表明证书订户在申请证书时所要标识的身份，以及验证其使用该证书内包含的公钥所对应的私钥做出的数字签名。如果证书订户将该证书用于其他用途，
                <span lang=EN-US>SHECA</span>将不承担任何由此产生的责任。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;line-height:
            14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>(六)
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
              <span style='font-family:楷体_GB2312'>证书订户必须妥善保证数字证书介质，保证私钥存储和使用的安全。上海
                <span lang=EN-US>CA</span>并不承担因订户的私钥保存出现问题而带来的所有责任，除非订户能够合法的证明这种问题产生的主要责任在上海
                <span lang=EN-US>CA</span>。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;line-height:
            14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>(七)
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
              <span style='font-family:楷体_GB2312'>一旦发生任何可能导致证书订户私钥安全性出现问题的情况，证书订户应立刻停止使用该数字证书并告知上海
                <span lang=EN-US>CA</span>以及其授权的证书服务机构。如果证书订户明知私钥安全性出现问题而未及时告知上海
                <span lang=EN-US>CA</span>以及其授权的证书服务机构，而给上海
                <span lang=EN-US>CA</span>以及其授权的证书服务机构、其他订户、证书依赖方或者其它相关方造成损失的，该订户必须承担相应的赔偿责任。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;line-height:
            14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>(八)
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
              <span style='font-family:楷体_GB2312'>根据《中华人民共和国电子签名法》、《中华人民共和国公司法》和其他法律法规的规定，作为依法设立的第三方电子认证服务机构，上海
                <span lang=EN-US>CA</span>只承担法律范围内規定的有限责任。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;line-height:
            14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>(九)
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
              <span style='font-family:楷体_GB2312'>上海
                <span lang=EN-US>CA</span>的担保免责和赔偿责任详见《
                <span lang=EN-US>SHECA</span>电子认证业务规则》。</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;line-height:14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>&nbsp;</span>
            </p>
    
            <p class=MsoNormal style='margin-left:21.0pt;line-height:14.0pt'>
              <span lang=EN-US style='font-family:楷体_GB2312'>&nbsp;</span>
            </p>
    
            <p class=MsoNormal style='margin-right:35.3pt;line-height:14.0pt'>
              <span style='font-family:楷体_GB2312'>传真：
                <span lang=EN-US>021-36393132</span>
              </span>
            </p>
    
            <p class=MsoNormal style='margin-right:35.3pt;line-height:14.0pt'>
              <span style='font-family:楷体_GB2312'>服务热线：
                <span lang=EN-US>021-962600</span>
              </span>
            </p>
    
            <p class=MsoNormal>
              <span style='position:absolute;z-index:251660288;margin-left:
            400px;margin-top:60px;width:114px;height:112px'>
                <img width=114 height=112 src="3.12%20上海市法人一证通申请表.fld/image003.gif" alt=tuzhang2>
              </span>
              <span style='font-family:楷体_GB2312'>支持邮箱：</span>
              <span lang=EN-US>
                <a href="mailto:jy@sheca.com">
                  <span style='font-family:楷体_GB2312;color:windowtext'>jy@sheca.com</span>
                </a>
              </span>
            </p>
    
            <p class=MsoNormal>
              <span style='font-family:楷体_GB2312'>服务网点查询：
                <span lang=EN-US>http://www.962600.com</span>
              </span>
            </p>
    
            <p class=MsoNormal>
              <span lang=EN-US>&nbsp;</span>
            </p>
    
            <p class=MsoNormal>
              <span lang=EN-US>&nbsp;</span>
            </p>
    
            <p class=MsoNormal style='text-indent:6.0pt'>
              <span lang=EN-US>&nbsp;</span>
            </p>
    
            <p class=MsoNormal style='text-indent:318.0pt'>
              <span style='font-family:楷体_GB2312'>上海市数字证书认证中心有限公司</span>
            </p>
    
            <p class=MsoNormal>
              <span lang=EN-US>&nbsp;</span>
            </p>
    
            <p class=MsoNormal>
              <span lang=EN-US>&nbsp;</span>
            </p>
    
            <p class=MsoNormal align=right style='text-align:right'>
              <span lang=EN-US style='font-family:宋体'>&nbsp;</span>
            </p>
    
            <p class=MsoNormal align=right style='text-align:right'>
              <span lang=EN-US style='font-family:楷体_GB2312'>&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div style="page-break-after: always"></div>
      </div>
    <% } %>
    </body>
    
    </html>